*{
    background-color: beige;
   
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
  }

  form {
    margin-bottom: 50px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .task-list {
    list-style-type: none;
    padding: 0;
  }

  .task {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .task .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .task .task-header .priority {
    font-weight: bold;
  }

  .task .task-header .label {
    font-style: italic;
  }

  .task .task-body {
    font-size: 14px;
  }

  .task .task-footer {
    font-size: 12px;
    color:palevioletred;
  }
  .text{
    Font-size: 50px;
    color:green ;
    Text-align: center;
    Animation: glow 2s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow{
    From{Text-shadow: 1px 2px 3px blue, 3px 2px 1px green, 2px 3px 5px pink, 4px 4px 3px brown}
    To {text-shadow: 1px 0px 4px green, 2px 2px 4px orange, 2px 4px 2px deeppink, 1px 3px 1px gray}
    }
